<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<button class="button" [disabled]="calcInProgress" (click)="getStatsForAll()">Start
	<i *ngIf="calcInProgress" class="fa fa-spinner fa-spin"></i>
</button>
<!-- <button class="button" (click)="toggleFakeInput()">Fake Input: {{fakeInput}}</button> -->
<button class="button" (click)="closeApp()">Minimize</button>

<div class="container">
	<!-- Row title -->
	<div class="row title">
		<ul>
			<li>Name</li>
			<li>ELO</li>
			<li>WINS</li>
		</ul>
	</div>

	<div class="row blue">
		<ul *ngFor="let stat of playerStats">
			<li *ngIf="stat">{{stat?.userName}}</li>
			<li *ngIf="stat">{{stat?.elo}}</li>
			<li *ngIf="stat && stat?.elo !==''">{{stat?.winPercent | number: '1.0-0'}}%</li>
		</ul>
	</div>
</div>